<footer><a style="text-decoration: none;" href="https://github.com/basher-207">©basher207_2023</a></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script><!-- JQuery file -->
<script src="/index.js"></script><!-- JS file -->

</body>
</html>