<%- include("header"); %>

<h1>Houston, we have a problem!</h1>
<h2>The minimum number of characters in a line is 1 (one), and the maximum is 15 (fifteen). Edit your line to get success.</h2>

<form action="/" method="get">
    <button type="submit">Ok</button>
</form>

<%- include("footer"); %>