<%- include("header"); %>

<h1>Max number of items is 5</h1>
<h2>To add new items, you need to remove the previous ones</h2>

<form action="/" method="get">
    <button type="submit">Ok</button>
</form>

<%- include("footer"); %>